body {
  max-width: 1920px;
  width: 100%;
}

.form-container {
  box-sizing: border-box;
  background-color: #f6f6f6;
  padding: 5vh 0 5vh 0;
  padding-left: 5rem;
  padding-right: 5rem;
}

.sign-in-text {
  margin-left: auto;
  text-align: end;
}

#sign-in-hyperlink {
  color: blue;
}

.register-button {
  align-self: center;
  width: 100%;
  padding: 1em;
  background-color: #3048c1;
  color: white;
}

.third-party-login {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.google-button {
  display: flex;
  color: black;
  text-align: center;
  align-items: center;
  margin-right: 1em;
  padding: 1em;
  padding-left: 1em;
  border: 1px solid #e5e5e5;
}

.google-button .icon {
  float: left;
  width: 25px;
  height: 25px;
  padding-right: 1em;
}

.google-button:hover {
  border-color: gray;
}

.facebook-button {
  display: flex;
  color: black;
  text-align: center;
  align-items: center;
  margin-left: 1em;
  padding: 1em;
  border: 1px solid #e5e5e5;
}

.facebook-button .icon {
  float: left;
  width: 25px;
  height: 25px;
  padding-right: 1em;
}

.facebook-button:hover {
  border-color: gray;
}

input {
  box-sizing: border-box;
  font-size: 1em;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  padding-inline: 3em;
}

button {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.input-username .icon{
  float: left;
  height: 20px;
  width: 20px;
  transform: translate(75%, -275%);
}

.input-email .icon{
  float: left;
  height: 20px;
  width: 20px;
  transform: translate(75%, -275%);
}

.input-password .icon{
  float: left;
  height: 20px;
  width: 20px;
  transform: translate(75%, -275%);
}

.input-error{
  color: red;
}
